<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Clubs</title>
  </head>
  <body>
    <h1>Chapters</h1>
    <p>Welcome to the Chapters page!</p>
  </body>
</html>
