<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSOC Club</title>
    <link rel="stylesheet" href="/gsoc.css" />
  </head>
  <body>
    <h1>Google Developer Student Club</h1>
    <div class="box">
      Welcome to the Google Developer Group (GDG) at Manipal University Jaipur!
      We are a vibrant community of tech enthusiasts, developers, and innovators
      passionate about technologies and their applications in solving real-world
      problems. Our mission is to create an inclusive and collaborative
      environment where students and faculty can learn, share, and grow together
      in the ever-evolving world of technology. We aim to bridge the gap between
      academic knowledge and industry practices, fostering innovation and
      entrepreneurship within our campus. Through workshops, projects, and
      events, members explore various tech fields and connect with industry
      professionals. With Google's support, they gain resources and tools to
      create impactful projects and grow as leaders in the tech industry. The
      Manipal Chapter fosters personal and professional growth, nurturing a
      collaborative and inclusive culture. It empowers students to push
      boundaries, embrace innovation, and develop leadership skills. This
      vibrant community equips members with knowledge and networking
      opportunities to excel in technology. In the Google Developer Student
      Club's Manipal Chapter, aspiring developers in Manipal, India come
      together to learn, create, and make a positive impact. Through workshops,
      projects, and events, members explore tech fields, connect with industry
      professionals, and grow as leaders. Supported by Google, this vibrant
      community equips students with resources and tools to excel in the rapidly
      evolving tech industry.
    </div>
  </body>
</html>
