<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Non-Technical Clubs</title>
    <link rel="stylesheet" href="/nontech.css" />
  </head>
  <body>
    <h1 style="font-size: 2.5rem; padding-left: 17px" class="text">
      Non-Technical Clubs
    </h1>
    <p style="padding-left: 16px; font-size: 1.28rem">
      Welcome to the Non-Technical Clubs page!
    </p>
    <div class="card">
      <div class="card1">
        <img src="/icon/aperture.jpg" class="club" />
        <b style="font-size: 23px">Aperture -</b>
        <span>
          Aperture is the Digital Arts Society of Manipal University Jaipur. We
          collaborates in most campus events and festivals providing coverages,
          shoots, after-movies, short films, designs under the domains of
          Graphic Design, UI/UX, 3D Design, Photography, Videography, Photo &
          Video Editing. We work with all clubs, departments DSW, hostel
          facilities to help them with shoots and design work.

          <a href="/home/non-tech/aperture" class="button">Read More</a></span
        >
      </div>
    </div>
  </body>
</html>
