<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Technical Clubs</title>
    <link rel="stylesheet" href="/tech.css" />
  </head>
  <body>
    <h1 style="font-size: 2.5rem" class="typewriter">
      &nbsp;&nbsp;Technical Clubs
    </h1>
    <p class="tech">Innovating, learning, and collaborating with technology.</p>
    <div class="card">
      <p class="card_1">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKCkq6vAnAu1cB_ARRA4tdlYZ_XjPM0bJaTA&s"
        />
        <b>Google Developer Student Clubs -</b>
        <span
          >GDSC at MUJ believe in open-source softwares and thrive to
          collaborate and teach our community about the same. Google Developer
          Student Clubs MUJ chapter is a university based community group for
          students interested in Google developer technologies. Students from
          all undergraduate or graduate programs with an interest in growing as
          a developer are welcome. By joining GDSC, students grow their
          knowledge in a peer-to-peer learning environment and build solutions
          for local businesses and their community.
          <a href="/home/tech/gsoc" class="button">Read More</a></span
        >
      </p>
      <p class="card_1">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcH4S_c8T5tmxmatz8wZMacuWSdI7LCGitMA&s"
        />
        <b>Cyber Space -</b>
        <span
          >We aim to build an active society for students interested in the
          domain of cyber security and uplift this culture in MUJ. Cybersecurity
          is important because it protects all categories of data from theft and
          damage. This includes sensitive data, personally identifiable
          information (PII), protected health information (PHI), personal
          information,intellectual property, data, and governmental and industry
          information systems.<a href="##" class="button">Read More</a></span
        >
      </p>
      <p class="card_1">
        <img
          src="https://media.licdn.com/dms/image/v2/C4D0BAQETm9nI5MJqRQ/company-logo_200_200/company-logo_200_200/0/1672472982975/cosmos_the_science_club_of_manipal_university_jaipur_logo?e=2147483647&v=beta&t=hNeAzrqTr6mtKiWgr6IQvGQ-jJrtp9BE5yucyxojdDc"
        />
        <b> COSMOS- The Science Club of MUJ -</b>
        <span
          >It is operated under the auspices of the Department of Physics, MUJ.
          This club is for all the “Science Lovers” of the University. The club
          provides its members with a forum to discuss ideas related to
          different branches of science and organize as well as participate in
          various activities. The goal of the Science Club is the advancement
          and diffusion of knowledge of both basic and applied sciences.<a
            href="##"
            class="button"
            >Read More</a
          ></span
        >
      </p>
      <p class="card_1">
        <img style="width: 55px" src="/icon/techno.jpg" />
        <b> Techno Electricia -</b>
        <span
          >The vision of TechnoElectricia is to make the vibrant Electrical
          Engineers who can use the technology and applied science for learning,
          research, innovation and many more.. The Techno Electricia Club at
          Manipal University Jaipur (MUJ) is a departmental club under the
          Department of Electrical Engineering. It focuses on fostering
          technical knowledge, innovation, and practical skills among students
          in the field of electrical engineering and related technologies. The
          club organizes workshops, technical events, and projects to enhance
          the hands-on experience of its members. It also participates in
          competitions to encourage real-world problem-solving and teamwork.<a
            href="##"
            class="button"
            >Read More</a
          ></span
        >
      </p>
    </div>
  </body>
</html>
