body {
  background-image: url(muj.jpg);
  background-size: cover;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  height: 400px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 175%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
div a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav_bar {
  background: rgba(0, 1, 2, 0.5);
  height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.text {
  font-size: 1.8rem;
  text-shadow: 1px 3px 3px white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: white;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 32rem;
  font-size: 1.05rem;
  background: none;
  margin-right: 10px;
}
form {
  text-align: center;
}
span {
  text-shadow: 1px 3px 3px black;
}
.muj {
  background: none;
  border: none;
  width: 6.3rem;
  height: 30px;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.05rem;
}
option {
  color: black;
}
.main {
  text-align: center;
  margin-top: 13rem;
  margin-left: 19.5rem;
  background-color: rgba(245, 245, 220, 0.507);
  height: 8rem;
  width: 45rem;
  position: relative;
  border-radius: 8px;
}
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(220, 62, 0);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
  cursor: pointer;
  font-size: 0.96rem;
}
.icon {
  height: 130px;
  width: 97.6%;
  background-color: lightgrey;
  margin-top: 19rem;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
img {
  transition: 0.4s linear;
  animation: 3s slide-in alternate;
}
@keyframes slide-in {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
  }
}

.icon img:hover {
  height: 11em;
  width: 11rem;
  cursor: pointer;
}
.clubs {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
section {
  background-color: rgb(185, 115, 9);
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 15px;
}
