body {
  background-image: url(https://img.freepik.com/premium-vector/abstract-background-with-technology-circuit-board-texture-electronic-motherboard_41981-3534.jpg);
  background-size: cover;
}
.card_1 {
  background-color: white;
  border-radius: 8px;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: inset 1em -5em 5em rgba(231, 179, 8, 0.801), 0 0 0 2px white,
    10px 10px 6px 10px rgba(53, 57, 58, 0.705);
  line-height: 30px;
  margin: 30px 30px 40px 20px;
}
b {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.card_1 img {
  height: 55px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: 13px;
}
.typewriter {
  font-size: 2rem;
  border-right: 4px solid black; /* Cursor effect */
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3.5s steps(30) 1s forwards infinite alternate,
    blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 7.49em; /* Adjust to the width of your text */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.tech {
  font-size: larger;
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}
.button {
  background-color: #f8a72e;
  text-decoration: none;
  color: black;
  border-radius: 7px;
  padding: 5px;
  font-size: 0.9rem;
  margin-left: 5px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 20%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.button {
  transition: 0.2s ease-in;
}
.button:hover {
  padding: 5.1px;
  font-size: 0.96rem;
}